<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta content="initial-scale=1, minimum-scale=1, width=device-width" name="viewport">
        
        <title>INFO729 - TP DBpedia</title>
        
        <!--Stylesheets-->
        <link rel="stylesheet" href="/public/stylesheet/custom.css" type="text/css" />
    </head>
    
    <body>
        <header>
            <nav>
                <a href="/">
                    <span>Accueil</span>
                </a>
            </nav>
        </header>
        <main>
        </main>
        <footer>
            <p>
                2015 © Abdelmoumni - Rebillard - Ribard - Robergeon
            </p>
        </footer>
    </body>
</html>